<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:pxt="http://www.peixoto.com.br/pxtFaces"
	xmlns:pxtfl="http://www.peixoto.com.br/jsf" xmlns:pxtfc="http://www.peixoto.com.br/jsf/core">
	<ui:composition template="/resources/peixoto/genericSearch.xhtml">
		<ui:param name="form_id" value="formAcompanhamentoTrabalhoVendedor" />
		<ui:param name="backingBean" value="#{acompanhamentoTrabalhoVendedorBean}" />
		<ui:param name="titulo" value="Acompanhamento Trabalho Vendedor" />
		<ui:param name="tipoFiltroPeriodo" value="duplo" />
		
		<ui:define name="labelFiltroPeriodo">
			<pxt:panelGrid columnsWidth="50%;50%" width="100%">
				<h:outputText value="Início:" styleClass="outputText"/>
				<h:outputText value="Fim:" styleClass="outputText"/>
			</pxt:panelGrid>
		</ui:define>
		
		<ui:define name="inputFiltroPeriodo">
			<pxt:panelGrid columnsWidth="50%;50%" width="100%">
				<h:inputText value="#{acompanhamentoTrabalhoVendedorBean.periodoInicial}" style="width: 90%;" maxlength="6">
					<pxt:onlyNumber/>
				</h:inputText>
				<h:inputText value="#{acompanhamentoTrabalhoVendedorBean.periodoFinal}" style="width: 90%;" maxlength="6">
					<pxt:onlyNumber/>
				</h:inputText>
			</pxt:panelGrid>		
		</ui:define>			
		
		<ui:define name="colunasTabela">
			<pxtfl:column headerValue="Divisão" value="#{obj.codigoDivisao}"/>
			<pxtfl:column headerValue="Gerente Divisão" value="#{obj.nomeGerenteDivisao}"/>
			<pxtfl:column headerValue="Região" value="#{obj.codigoRegiao}" rendered="#{acompanhamentoTrabalhoVendedorBean.regiao != null and acompanhamentoTrabalhoVendedorBean.regiao.id.codigoRegiao != null}"/>
			<pxtfl:column headerValue="Gerente Região" value="#{obj.nomeGerenteRegiao}" rendered="#{acompanhamentoTrabalhoVendedorBean.regiao != null and acompanhamentoTrabalhoVendedorBean.regiao.id.codigoRegiao != null}"/>
			<pxtfl:column headerValue="Setor" value="#{obj.codigoSetor}"/>
			<pxtfl:column headerValue="Vendedor" value="#{obj.nomeVendedor}" />
			<pxtfl:column headerValue="Tempo Casa" value="#{obj.tempoCasa}" />
			<pxtfl:column headerValue="Venda" value="#{obj.valorMedioVendaMes}" typeFormat="currency"/>
			<pxtfl:column headerValue="Quantidade Dias" value="#{obj.quantidadeDiasTreinamento}"/>
			<pxtfl:column headerValue="Dias" value="#{obj.diasTreinamento}"/>
		</ui:define>
	</ui:composition>
</html>