<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:pxt="http://www.peixoto.com.br/pxtFaces"
	xmlns:pxtfl="http://www.peixoto.com.br/jsf" xmlns:pxtfc="http://www.peixoto.com.br/jsf/core">

<ui:composition template="/META-INF/facelets/templates/crud.xhtml">
	<ui:param name="form_id" value="formProduto" />
	<ui:param name="backingBean" value="#{produtoBean}" />
	<ui:param name="titulo" value="Cadastro de Produto" />
		
	<ui:define name="panelCadastro">
	
			<pxt:panelGrid columnsWidth="12%;12%" width="25%">
				
				<h:outputText value="Nome:" styleClass="outputText" />
				<h:inputText value="#{produtoBean.domain.nome}" />
				<h:outputText value="Descricao:" styleClass="outputText" />
				<h:inputText value="#{produtoBean.domain.descricao}" />
				<h:outputText value="Quantidade:" styleClass="outputText" />
				<h:inputText value="#{produtoBean.domain.estoque}" />
				<h:outputText value="Valor" styleClass="outputText" />
				<h:inputText value="#{produtoBean.domain.valor}" />
					
			</pxt:panelGrid>
		
	</ui:define>
	
</ui:composition>
</html>